body {
  background-color: #333;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: relative;
  display: block;
  border: 1px solid #ccc;
  width: 720px;
  height: 360px;
  background-color: #666;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: red;
}